    
    </div> <!-- end starter template -->
</div> <!-- end container -->
   
   <!--<div>-->
    <!--    <div class="row">-->
    <!--        <div class="col-lg-4">-->
    <!--        </div><!-- end first footer column -->
    <!--            <i class="icon-twitter"></i>-->
    <!--        <div class="col-lg-4">-->
    <!--            <i class="icon-github-circled"></i>-->
    <!--        </div><!-- end first footer column -->
    <!--        <div class="col-lg-4">-->
    <!--            <i class="icon-mail"></i>-->
    <!--        </div><!-- end first footer column  -->
    <!--    </div> <!-- //.row -->
    <!--</div> <!-- end footer container -->
    
<footer class="footer">
    <div class="container">
        <div class="col-md-4"><i class="icon-twitter-squared"></i></div>
        <div class="col-md-4"><i class="icon-github-circled"></i></div>
        <div class="col-md-4"><i class="icon-mail"></i></div>
        <span class="text-muted">© 2016 Matt Schwabenbauer.</span>
    </div>
</footer>


    	<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>