
.icon-dollar-1:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-list:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-football:before { content: '\e818'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */